<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2022 OpenSynergy Indonesia
     Copyright 2022 PT. Simetri Sinergi Indonesia
     License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl-3.0-standalone.html). -->
<odoo>

    <menuitem
        id="menu_accountant_report_general_audit"
        name="General Audit"
        parent="ssi_accountant.menu_root_accountant"
        sequence="50"
    />


    <menuitem
        id="menu_accountant_configuration_general_audit"
        name="General Audit"
        sequence="101"
        parent="ssi_accountant.menu_accountant_configuration"
    />

    <menuitem
        id="menu_accountant_configuration_trial_balance"
        name="Trial Balance"
        sequence="102"
        parent="ssi_accountant.menu_accountant_configuration"
    />

    <menuitem
        id="menu_accountant_configuration_worksheet"
        name="Worksheet"
        sequence="103"
        parent="ssi_accountant.menu_accountant_configuration"
    />

</odoo>
