<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2022 OpenSynergy Indonesia
     Copyright 2022 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->
<openerp>
    <data>
        <menuitem
            id="stakeholder_report_menu"
            name="Stakeholder Report"
            sequence="1"
            parent="accountant_app.accountant_report_menu"
        />

    </data>
</openerp>
